# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\[G].Data Structure & Algorithm Courses\Github Clones\CodeWars\Codewars_Challenges\Codewars_Challenges\CodeWars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
